html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial Black, sans-serif;
    overflow-x: hidden;
}

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body > div {
    /*height: 100%;*/
    overflow: scroll;
}

.social-icon {
    color: #fff;
}

ul.social-icons-pre {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  /* top: 90%; */
}

ul.social-icons-artists {
  position: absolute;
  width: 100%;
  text-align: center;
}

.social-icons-artists li {
  /*vertical-align: top;*/
  display: inline-block;
  /*height: 100px;*/
}

.social-icons-artists a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.social-icons-artists a {
  color: black;
  text-decoration: none;
  position: relative;
  left: -1em;
}

.social-icons-artists li {
  /*vertical-align: top;*/
  display: inline-block;
  /*height: 100px;*/
}

.social-icons-pre a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.social-icons-pre a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.social-icons-pre a {
  color: black;
  text-decoration: none;
  position: relative;
  left: -1em;
}

.social-icons-pre li {
  display: inline-block;
}

.social-icons-main a {
  color: black;
  text-decoration: none;
  position: relative;
  left: -1em;
}

.about-social a {
  color: white;
}

.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.fa-facebook:hover {
  color: #3d5b99;
}
.fa-twitter {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.fa-twitter:hover {
  color: #00aced;
}

.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa {
  display: inline-block;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

h1.logo-left-pre {
    color: black;
    font-size: 37px;
    overflow: hidden;
    padding-left: 1em;
    /*bottom: 0;*/
    position: absolute;
}

h1 a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 500px) {
    h1.logo-left-pre {
      font-size: 20px;
      padding-top: 0.35em;
    }
    h1.logo-left-pre {
      font-size: 20px;
      padding-top: 0.35em;
    }
}

.nav {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 45%;
  left: 50%;
}

.nav-rl {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 84%;
  left: 50%;
}

.main-nav {
  list-style: none;
  text-align: none;
}

.main-nav:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

nav li {
  font-size: 32px;
  font-weight: 600;
  text-align:center;
  margin: 10px 0;
}

@media screen and (max-width: 500px) {
  nav li {
  font-size: 25px;
}
}

nav a {
  text-decoration: none;
  color: black;
}

.scroller {
   height: 50px;
   padding-bottom: 90px;
   overflow: hidden;
   position: relative;
}

.scroller h1 {
   color: black;
   position: absolute;
   bottom: 5px;
   font-size: 13px;
   text-align: center;
   width: 95%;
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);
   transform:translateX(100%);
   -moz-animation: scroller 20s linear infinite;
   -webkit-animation: scroller 20s linear infinite;
   animation: scroller 20s linear infinite;
  }

  @-moz-keyframes scroller {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroller {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroller {
   0%   {
   -moz-transform: translateX(100%); /* Firefox bug fix */
   -webkit-transform: translateX(100%); /* Firefox bug fix */
   transform: translateX(100%);
   }
   100% {
   -moz-transform: translateX(-100%); /* Firefox bug fix */
   -webkit-transform: translateX(-100%); /* Firefox bug fix */
   transform: translateX(-100%);
   }
}

.artists-nav {
  margin-top: 0.7em;
  font-family: "Courier";
  font-size: 1.250em;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

.active {
  margin-bottom: 0.7em;
}

.main-title {
  text-align: center;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 48%;
  left: 50%;
  font-size: 7em;
  color: white;
}

@media screen and (min-width: 450px) and (max-width: 1100px) {
.main-title {
  font-size: 5em;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .main-title {
    font-size: 3em;
  }
}

@media screen and (min-width: 250px) and (max-width: 500px) {
.main-title {
  font-size: 2em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
.main-parallex img {
  width: 100%;
  position: unset;
  margin-top: 1em!important;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
.main-parallex img {
  width: 100%;
  position: unset;
  margin-top: 5em!important;
  }
}

@media screen and (min-width: 250px) and (max-width: 650px) {
.main-parallex img {
  width: 100%;
  position: unset;
  margin-top: 10em!important;
  }
}

@media screen and (min-width: 250px) and (max-width: 450px) {
.main-parallex img {
  width: 100%;
  position: unset;
  margin-top: 13em!important;
  }
}

.color {
  background: black;
}

.main-parallex img {
  width: 100%;
  position: unset;
  margin-top: -4em;
}

#left-nav {
  height: 6rem;
  left: 44px;
  letter-spacing: 2px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px) rotate(-90deg);
  white-space: nowrap;
  width: 100vh;
  z-index: 1;
  font-weight: 600;
  font-size: 1.2em;
     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@media screen and (min-width: 600px) {
  #left-nav {
    left: 59px;
  }
}

#left-nav ul li {
  display: inline-block;
  margin: 0 25px;
}

#left-nav a {
  text-decoration: none;
  color: black;
}

#right-nav {
  position: fixed;
  letter-spacing: 2px;
  right: 31px;
  text-align: center;
  text-transform: uppercase;
  top: 44%;
  transform: translate3d(50%, -50%, 0px) rotate(90deg);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  white-space: nowrap;
  z-index: 1;
  font-weight: 600;
  font-size: 1.2em;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#right-nav ul li {
  display: inline-block;
  margin: 0 25px;
}

#right-nav a {
  text-decoration: none;
  color: black;
}

.ye-hover img {
  display: none;
}

li.ye-hover:hover img {
    display: block;
    transition-duration: 10s;
    /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.hover-me:hover * {
  color: #fff;
}
.hover-me *:hover {
  color: #fff;
}


.back a {
  color: black;
}

i.fa.fa-chevron-circle-left {
  position: relative;
  bottom: -6em;
  color: black;
}

@media screen and (max-width: 600px) {
  .fa.fa-chevron-circle-left {
    bottom: -9em!important;
  }
}


.images img {
  width: 33.33%;
}

img.m1 {
    margin-top: 3em;
}

@media screen and (max-width: 950px) {
  img.m1{
    margin-top: 0;
  }
}

img.m2 {
  position: relative;
  top: 8em;
  left: 3em;
}

img.m3 {
    margin-top: 10em;
    margin-right: 16em;
}

@media screen and (max-width: 950px) {
  .images img {
    display: inline-block;
    width: 80%;
  }

  .images {
    text-align: center;
    margin-top: 4em;
    padding: 1em!important;
  }

  img.m2 {
    top: 0;
    left: 0;
  }

  img.m3 {
    margin: 0;
  }
}

.images {
  text-align: center;
  padding: 3em;
}

.body1 {
  background-image: url("http://res.cloudinary.com/hannanymous/image/upload/v1508549303/About/about-hero-notext.jpg");
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .body1 {
    background-image: url("http://res.cloudinary.com/hannanymous/image/upload/v1508716156/About/abouttt.png");
    background-size: cover;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .body1 {
    background-image: url("http://res.cloudinary.com/hannanymous/image/upload/v1508716355/About/abouttt1.png");
  }
}

.main-about {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-about a {
  text-decoration: none;
}

.main-about h1 {
  font-size: 11em;
  color: white;
}

@media screen and (min-width: 450px) and (max-width: 1350px) {
.main-about h1 {
  font-size: 9em;
  }
}

@media screen and (min-width: 450px) and (max-width: 1100px) {
.main-about h1 {
  font-size: 6.5em;
  }
}

@media screen and (min-width: 250px) and (max-width: 800px) {
  .main-about h1 {
    font-size: 5.5em;
  }
}

@media screen and (max-width: 700px) {
.main-about h1 {
  font-size: 4em;
  }
}

@media screen and (min-width: 250px) and (max-width: 500px) {
.main-about h1 {
  font-size: 3em;
  }
}

img.hs {
  width: 20%;
}

.logos {
  margin-top: 30em;
  margin-left: 13em;
}

@media screen and (max-width: 1100px) {
  .logos {
    margin-left: 10em;
    margin-top: 35em;
  }
}

@media screen and (min-width: 1500px) {
  .logos {
    margin-left: 15em;
    margin-top: 37em;
  }
}

@media screen and (max-width: 800px) {
  .logos {
    margin-left: 8em;
    margin-top: 35em;
  }
}

@media screen and (max-width: 750px) {
.logos {
    margin-left: 6em;
    margin-top: 32.5em;
}
}

@media screen and (max-width: 600px) {
  img.hs {
    width: 49%;
    position: relative;
    left: -3em;
}
}

.staggered_images { padding-left:0px; }
.staggered_images img { width:45%; display:inline-block; border:Solid 1px #fff; }
##.staggered_images img:nth-child(4n-4) { margin:0%; }
##.staggered_images img:nth-child(4n-2) { margin-bottom:5%; margin-top:-5%; }
##.staggered_images img:nth-child(4n-1) { margin-right:-5%; }
##.staggered_images img:nth-child(4n+0) { margin-right:-5%; margin-bottom:10%; margin-top:10%; }
##.staggered_images img:nth-child(4n+1) { margin-right:5%; margin-bottom:-5%; margin-left:3%; margin-top:-5%; }
##.staggered_images img:nth-child(4n+2) { margin-left:-10%; }
##.staggered_images img:nth-child(4n+3) { margin-right:15%; }
body > div { overflow:initial; }
/*ul.social-icons-pre { position:relative; }
.scroller h1 { position:relative; }*/
div.clr { clear:both; }
/*html, body { overflow:initial; }*/
.main-nav { z-index:99; }
/*.main-nav h1 { background-color:#fff; padding:15px; border:solid 1px #000; }*/
@media all and (max-width:640px) {
  .staggered_images img { width:85%; margin:1% !important; }
}

html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body::before, body::after {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  font-size: 60px;
  color: #000;
}

.container-photo {
  position: relative;
  overflow: hidden;
}
.perspective {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
}
.perspective--is-fixed {
  position: fixed;
  top: 80px;
  left: 0;
}

@media screen and (min-width: 2300px) {
  .perspective--is-fixed {
    position: fixed;
    top: 200px;
    left: 160px;

}
}

.zoomZ {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.image {
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  backface-visibility: hidden;

}
.image:nth-child(1) {
  -webkit-transform: translate3d(38em,-10vh,-30em);
  transform: translate3d(38em,-10vh,-30em);
}

.image:nth-child(2) {
  -webkit-transform: translate3d(-20em,-22vh,-80em);
  transform:translate3d(-20em,-22vh,-80em);
}

.image:nth-child(3) {
  -webkit-transform: translate3d(90em,-50vh,-110em);
  transform: translate3d(90em,-50vh,-110em);
}

.image:nth-child(4) {
  -webkit-transform: translate3d(-44em,47vh,-190em);
  transform: translate3d(-44em,47vh,-190em);
}

.image:nth-child(5) {
  -webkit-transform: translate3d(61em,20vh,-140em);
  transform: translate3d(61em,20vh,-140em);
}

.image:nth-child(6) {
  -webkit-transform: translate3d(-15vh,-94vh,-190em);
  transform: translate3d(-15vh,-74vh,-190em);
}

.image:nth-child(7) {
  -webkit-transform: translate3d(-7em,-10vh,-210em);
   transform: translate3d(-7em,-10vh,-210em);
}

.image:nth-child(8) {
  -webkit-transform: translate3d(118em,60vh,-400em);
  transform: translate3d(78em,-66vh,-210em);
}

.image:nth-child(9) {
    -webkit-transform: translate3d(-2em,40vh,-300em);
    transform: translate3d(-2em,40vh,-300em);
}

.image:nth-child(10) {
    -webkit-transform: translate3d(40em,-40vh,-350em);
    transform: translate3d(40em,-40vh,-350em);
}

.image:nth-child(11) {
    -webkit-transform: translate3d(-20em,-25vh,-380em);
    transform: translate3d(-20em,-25vh,-380em);
}

.image:nth-child(12) {
    -webkit-transform: translate3d(150vh,40vh,-450em);
    transform: translate3d(150vh,40vh,-450em);
}

.image:nth-child(13) {
    -webkit-transform: translate3d(60em,18vh,-500em);
    transform: translate3d(60em,18vh,-500em);
}

.image:nth-child(14) {
    -webkit-transform: translate3d(-10em,30vh,-480em);
    transform: translate3d(-10em,30vh,-480em);
}

.image:nth-child(15) {
    -webkit-transform: translate3d(60em,-10vh,-600em);
    transform: translate3d(60em,-10vh,-600em);
}

.image:nth-child(16) {
    -webkit-transform: translate3d(30em,50vh,-650em);
    transform: translate3d(30em,50vh,-650em);
}

.image:nth-child(17) {
    -webkit-transform: translate3d(30em,-20vh,-700em);
    transform: translate3d(30em,-20vh,-700em);
}

.image:nth-child(18) {
    -webkit-transform: translate3d(38em,83vh,-875em);
    transform: translate3d(38em,83vh,-875em);
}

.image:nth-child(19) {
    -webkit-transform: translate3d(-10em,30vh,-840em);
    transform: translate3d(-10em,10vh,-840em);
}

.image:nth-child(20) {
    -webkit-transform: translate3d(70em,30vh,-900em);
    transform: translate3d(70em,15vh,-900em);
}

.image:nth-child(21) {
    -webkit-transform: translate3d(28em,38vh,-965em);
    transform: translate3d(28em,38vh,-965em);
}

.image:nth-child(22) {
    -webkit-transform: translate3d(-10em,32vh,-1080em);
    transform: translate3d(-10em,32vh,-1080em);
}

.image:nth-child(23) {
    -webkit-transform: translate3d(60em,47vh,-1120em);
    transform: translate3d(60em,47vh,-1120em);
}

.image:nth-child(24) {
    -webkit-transform: translate3d(-10em,45vh,-1180em);
    transform: translate3d(-10em,45vh,-1180em);
}

.image:nth-child(25) {
    -webkit-transform: translate3d(50em,35vh,-1240em);
    transform: translate3d(50em,35vh,-1240em);
}

.image:nth-child(26) {
    -webkit-transform: translate3d(-1em,10vh,-1260em);
    transform: translate3d(-1em,10vh,-1260em);
}

.image:nth-child(27) {
    -webkit-transform: translate3d(59em,-20vh,-1300em);
    transform: translate3d(59em,-20vh,-1300em)
}

.image:nth-child(28) {
    -webkit-transform: translate3d(50em,20vh,-1400em);
    transform: translate3d(50em,20vh,-1400em);
}

.image:nth-child(29) {
    -webkit-transform: translate3d(-19em,40vh,-1450em);
    transform: translate3d(-19em,40vh,-1450em);
}

.image:nth-child(30) {
    -webkit-transform: translate3d(1em,59vh,-1550em);
    transform: translate3d(1em,59vh,-1550em);
}

.image:nth-child(31) {
    -webkit-transform: translate3d(68em,29vh,-1560em);
    transform: translate3d(68em,29vh,-1560em);
}

.image:nth-child(32) {
    -webkit-transform: translate3d(15em,34vh,-1600em);
    transform: translate3d(15em,34vh,-1600em);
}

.image:nth-child(33) {
    -webkit-transform: translate3d(0em,20vh,-1700em);
    transform: translate3d(0em,20vh,-1700em);
}

.image:nth-child(34) {
    -webkit-transform: translate3d(60em,32vh,-1750em);
    transform: translate3d(60em,32vh,-1750em);
}

.image:nth-child(35) {
    -webkit-transform: translate3d(-10em,32vh,-1850em);
    transform: translate3d(-10em,32vh,-1850em);
}

.image:nth-child(36) {
    -webkit-transform: translate3d(80em,43vh,-1890em);
    transform: translate3d(80em,43vh,-1890em);
}

.image:nth-child(37) {
    -webkit-transform: translate3d(29em,54vh,-1898em);
    transform: translate3d(29em,54vh,-1898em);
}

.image:nth-child(38) {
    -webkit-transform: translate3d(-2em,-1vh,-1929em);
    transform: translate3d(-2em,-1vh,-1929em);
}

.image:nth-child(39) {
    -webkit-transform: translate3d(57em,9vh,-1975em);
    transform: translate3d(57em,9vh,-1975em);
}

.image:nth-child(40) {
    -webkit-transform: translate3d(27em,0vh,-2002em);
    transform: translate3d(27em,0vh,-2002em);
}

.image:nth-child(41) {
    -webkit-transform: translate3d(38em,40vh,-2110em);
    transform: translate3d(38em,40vh,-2110em);
}

.image:nth-child(42) {
    -webkit-transform: translate3d(60em,-10vh,-2090em);
    transform: translate3d(60em,-10vh,-2090em);
}

.image:nth-child(43) {
  -webkit-transform: translate3d(0em,-10vh,-2130em);
  transform: translate3d(0em,-10vh,-2130em);
}

.image:nth-child(44) {
  -webkit-transform: translate3d(70em,70vh,-2130em);
  transform: translate3d(70em,70vh,-2130em);
}

.image:nth-child(45) {
  -webkit-transform: translate3d(-10em,70vh,-2130em);
  transform: translate3d(-10em,70vh,-2130em);
}

.image:nth-child(46) {
  -webkit-transform: translate3d(30em,-11vh,-2200em);
  transform: translate3d(30em,-11vh,-2200em);
}

.image:nth-child(47) {
  -webkit-transform: translate3d(30em,43vh,-2200em);
  transform: translate3d(30em,43vh,-2200em)
}

.image:nth-child(48) {
  -webkit-transform: translate3d(90em,-17vh,-2259em);
  transform: translate3d(90em,-17vh,-2259em);
}


/*@media screen and (max-width: 767px) {

  h1.logo-left-pre {
    display: none;
  }

  .perspective--is-fixed {
    position: fixed!important;
    top: 50px!important;
}

.image:nth-child(1) {
    -webkit-transform: translate3d(-2em,0vh,-59em);
    transform: translate3d(-2em,0vh,-111em);
}

  .image:nth-child(2) {
    -webkit-transform: translate3d(-10em,39vh,-142em);
    transform: translate3d(-10em,39vh,-142em);

}

.image:nth-child(4) {
    -webkit-transform: translate3d(-30em,-11vh,-230em);
    transform: translate3d(-30em,-11vh,-230em);
}

.image:nth-child(7) {
    -webkit-transform: translate3d(-7em,-35vh,-234em);
    transform: translate3d(-7em,-35vh,-234em);
}

.image:nth-child(8) {
    -webkit-transform: translate3d(78em,-66vh,-210em);
    transform: translate3d(78em,-66vh,-210em);
}

.image:nth-child(10) {
    -webkit-transform: translate3d(-5em,-40vh,-350em);
    transform: translate3d(-5em,-40vh,-350em);
}

.image:nth-child(11) {
    -webkit-transform: translate3d(-151em,-25vh,-10em);
    transform: translate3d(-151em,-25vh,-10em);
}

.image:nth-child(12) {
    -webkit-transform: translate3d(0vh,-70vh,-510em);
    transform: translate3d(0vh,-70vh,-510em);
}

.image:nth-child(13) {
    -webkit-transform: translate3d(-10em,78vh,-680em);
    transform: translate3d(-10em,78vh,-680em);
}

.image:nth-child(14) {
    -webkit-transform: translate3d(-10em,30vh,-490em);
    transform: translate3d(-10em,30vh,-490em);
}

.image:nth-child(16) {
    -webkit-transform: translate3d(0em,-40vh,-710em);
    transform: translate3d(0em,-40vh,-710em);
}

.image:nth-child(43) {
    -webkit-transform: translate3d(0em,-10vh,-2130em);
    transform: translate3d(0em,-10vh,-2237em);
}


.image:nth-child(38) {
    -webkit-transform: translate3d(-2em,-1vh,-1929em);
    transform: translate3d(-2em,-1vh,-2235em);
}

} */

/* rl 2018 feature */

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  left: 10px;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 100;
  width: 6000px;
  bottom: 20%;
  margin-left: 50px;
}

.middle
{
  z-index: 200;
  width: 8000px;
  bottom: 40%;
  margin-left: 150px;
}

.front
{
  z-index: 300;
  width: 9000px;
  bottom: 60%;
  margin-left: 100px;
}

.mobileimage {
  width: 200px;
  margin-right: 100px;
}

#first {
  width: 200px;
  left: 20px;
}

#second {
  width: 200px;
  left: 100px;
}

#third {
  width: 200px;
  left: 200px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #zoom {
    display: none !important;
  }
  #mobile {
    display: block;
    margin-top:200px !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 3020px) {
  #zoom {
    display: block;
  }
  #mobile {
    display: none !important;
  }
}

